<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TennisClubSaaS.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="Storage__S3__AccessKey" value="" />
          <environmentVariable name="Storage__S3__SecretKey" value="" />
          <environmentVariable name="Storage__S3__BucketName" value="multi-saas-bucket" />
          <environmentVariable name="Storage__S3__Region" value="us-east-2" />
          <environmentVariable name="Storage__S3__KeyPrefix" value="tenisclub" />
          <environmentVariable name="Storage__S3__PublicBaseUrl" value="https://multi-saas-bucket.s3.us-east-2.amazonaws.com" />
          <environmentVariable name="Storage__S3__MaxFileSizeMb" value="20" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
